<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
</head>
<body>
      <h2>A16 Concierge EventBot</h2>
      <form method="POST" action="https://api.smooch.io/v1/appUsers/ce151fa56b224ad8b0640bc3/conversation/messages">

       <input type=text name="birthyear">
       <input type=hidden name="person" value="daniel">
       <input type=submit name="press" value="OK">
      </form>


</body>
</html>
